.hidden {
  display: none;
}

DeviceContainer {
  grid-size: 4;
}

DevicePanel {
  max-width: 40;
  border: heavy gray;
  & .panel-header {
    text-align: center;
    height: auto;
  }
  & .panel-content {
    padding: 0 1;
  }
}

Terminal {
  dock: bottom;
  height: 17;
  background: black;
  color: white;
  padding: 1;
}
